<div class='container'>
  <div class='col-10 px-0'>
    <div class="card text-center cover-section">
      <div class="card-body">
        <h1 class="card-title display-1 py-5">Cover Picture</h5>
      </div>
      <div class="card-footer text-muted bg-white py-0">
        <ul class='nav justify-content-end'>
          <li class='nav-item border-left'><a href='/' class='nav-link'>Timeline</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>About</a></li>
          <li class='nav-item border-left'><a href='/users/index' class='nav-link'>Friends</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Photos</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'><span class='px-2'><%= fa_icon "lock" %></span>Archive</a></li>
          <li class='nav-item border-left border-right mr-5'><a href='#' class='nav-link'>More</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-10 px-0 mt-3'>
    <div class='row no-gutters'>
      <div class='col-4 pr-2'></div>
      <div class='col-8 pl-2'>
        <%= form_for(@new_post, as: :post) do |f| %>
          <div class='card'>
            <div class='card-header py-0'>
              <ul class='nav'>
                <li class='nav-item'><a class='nav-link small-nav-link pl-0 pr-2' href='#'>Create post</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Photo/Video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Live video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Life Event</a></li>
              </ul>
            </div>
            <div class='card-body d-flex'>
              <img alt='' class="rounded-circle create-post-author-image border mr-3" src="<%= asset_path('anonymous.jpg')%>" />
              <%= f.text_area :text, class: 'form-control border-0 p-0 no-outline', id: 'create_post_text', placeholder: 'What\'s on your mind'  %>
            </div>
            <div class='card-footer'>
              <%= f.submit "Post", class: 'btn btn-block btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
        <% if @posts.empty? %>
          <h1>You do not have any posts</h1>
        <% else %>
          <% @posts.each do |post| %>
            <div class='card mt-3 post rounded-sm'>
              <div class='card-header py-2 d-flex bg-white'>
                <img alt='' class='rounded-circle gravatar' src='<%= post.creator.image_url %>%' />
                <div class='post-links mx-2 d-flex flex-column'>
                  <a href='#' class='medium-nav-link'><%= "#{post.creator.first_name} #{post.creator.surname}"%></a>
                  <a href='#' class='small text-muted'><%= post.created_at.strftime("%-d %B") %></a>
                </div>
                <span class='ml-auto'><%= fa_icon 'ellipsis-h' %></span>
              </div>
              <div class='card-body pb-0'>
                <p class='mb-0 pb-3 border-bottom'><%= post.text %></p>
                <div class='post-actions my-1'>
                  <!-- render create form in case user has never liked post -->
                  <% if !post.likes.find_by(user_id: current_user.id) %>
                    <%= form_for(@new_like, as: :like, html: { class: 'w-100', id: "post-like-#{post.id}"}) do |plf|  %>
                      <%= plf.hidden_field :likeable_id, :value => post.id, id: "post-likeable-id-#{post.id}" %>
                      <%= plf.hidden_field :likeable_type, :value => 'post', id: "post-likeable-type-#{post.id}" %>
                      <button class='btn btn-like btn-block' type='submit'>
                        <%= fa_icon 'thumbs-o-up 2x'%> Like
                      </button>
                    <% end %>
                  <% else %>
                    <!-- else render destroy in case user already likes post  -->
                    <button class='btn btn-like' type='submit'>
                      <%= fa_icon 'thumbs-o-down 2x'%> Unlike
                    </button>
                  <% end %>
                  <button class='btn btn-comment'><%= fa_icon 'comment 2x'%> Comment</button>
                </div>
              </div>
              <div class='card-footer bg-white py-0'>
                <!-- list all comments here -->
                <% if post.comments.any? %>
                  <ul class='comments p-0'>
                    <% post.comments.each do |c| %>
                      <li class='comment py-2'>
                        <div class='d-flex flex-row justify-content-center gravatar-holder'>
                          <img alt='' class='rounded-circle gravatar-small' src='<%= post.creator.image_url %>%' />
                        </div>
                        <span class='p-2 rounded-lg comment-description'> 
                          <a class='font-weight-bold' href='/'><%= c.commentor.full_name %></a> <%= c.text %>
                        </span>
                        <div class='comment-like-section'>
                          <% if true %>
                            <%= form_for(@new_like, as: :like, html: { class: 'w-100', id: "comment-like-form-#{c.id}"}) do |plf| %>
                              <%= plf.hidden_field :likeable_id, :value => c.id, id: "comment-likeable-id-#{c.id}" %>
                              <%= plf.hidden_field :likeable_type, :value => 'comment', id: "comment-likeable-type-#{c.id}" %>
                              <a class='a-comment-like' href='#' type='submit'>
                                Like
                              </a>
                            <% end %>
                          <% else %>
                            <!-- else render destroy in case user already likes post  -->
                            <button class='btn btn-like' type='submit'>
                              <%= fa_icon 'thumbs-o-up 2x'%> Unlike
                            </button>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                <!-- create comment section is the last -->
                <%= form_for(@new_comment, as: :comment, html: { id: "create-comment-#{post.id}"}) do |cf| %>
                  <%= cf.hidden_field :post_id, :value => post.id, id: "create-comment-post-id-#{post.id}" %>
                  <div class='py-2 add-comment'>
                    <div class='d-flex flex-row justify-content-center gravatar-holder'>
                      <img alt='' class='align-self-start rounded-circle gravatar-small' src='<%= post.creator.image_url %>%' />
                    </div>
                    <%= cf.text_area :text, class: 'form-control py-2 comment-form-description-editor', id: "comment-text-id-#{post.id}", rows: 1 %>
                    <button class='align-self-start btn btn-primary btn-sm btn-save'>Save</button>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>