<div class='container'>
  <div class='col-10 px-0'>
    <div class="card text-center cover-section">
      <div class="card-body">
        <h1 class="card-title display-1 py-5">Cover Picture</h5>
      </div>
      <div class="card-footer text-muted bg-white py-0">
        <ul class='nav justify-content-end'>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Timeline</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>About</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Friends</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Photos</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'><span class='px-2'><%= fa_icon "lock" %></span>Archive</a></li>
          <li class='nav-item border-left border-right mr-5'><a href='#' class='nav-link'>More</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-10 px-0 mt-3'>
    <div class='row no-gutters'>
      <div class='col-4 pr-2'></div>
      <div class='col-8 pl-2'>
        <%= form_for(@new_post, as: :post) do |f| %>
          <div class='card'>
            <div class='card-header py-0'>
              <ul class='nav'>
                <li class='nav-item'><a class='nav-link small-nav-link pl-0 pr-2' href='#'>Create post</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Photo/Video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Live video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Life Event</a></li>
              </ul>
            </div>
            <div class='card-body d-flex'>
              <img alt='' class="rounded-circle create-post-author-image border mr-3" src="<%= asset_path('anonymous.jpg')%>" />
              <%= f.text_area :text, class: 'form-control border-0 p-0 no-outline', id: 'create_post_text', placeholder: 'What\'s on your mind'  %>
            </div>
            <div class='card-footer'>
              <%= f.submit "Post", class: 'btn btn-block btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
        <% if @posts.empty? %>
          <h1>You do not have any posts</h1>
        <% else %>
          <% @posts.each do |post| %>
            <div class='card mt-3 post rounded-sm'>
              <div class='card-header py-2 d-flex bg-white'>
                <img alt='' class='rounded-circle gravatar' src='<%= post.creator.image_url %>%' />
                <div class='post-links mx-2 d-flex flex-column'>
                  <a href='#' class='medium-nav-link'><%= "#{post.creator.first_name} #{post.creator.surname}"%></a>
                  <a href='#' class='small text-muted'><%= post.created_at.strftime("%-d %B") %></a>
                </div>
                <span class='ml-auto'><%= fa_icon 'ellipsis-h' %></span>
              </div>
              <div class='card-body pb-0'>
                <p class='mb-0 pb-3 border-bottom'><%= post.text %></p>
                <div class='post-actions my-1'>
                  <button class='btn btn-like'><%= fa_icon 'thumbs-o-up 2x'%> Like</button>
                  <button class='btn btn-comment'><%= fa_icon 'comment 2x'%> Comment</button>
                </div>
              </div>
              <div class='card-footer bg-white py-0'>
                <!-- list all comments here -->
                <!-- create comment section is the last -->
                <div class='py-2 add-comment'>
                  <div class='d-flex flex-row justify-content-center'>
                    <img alt='' class='align-self-start rounded-circle gravatar-small' src='<%= post.creator.image_url %>%' />
                  </div>
                  <textarea class='form-control py-2' oninput='growTextArea(this)' onkeydown='commentKeyPressEventHandler(evt, this)' rows='1'>
                  </textarea>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>