<div class='container'>
  <div class='col-10 px-0'>
    <div class="card text-center cover-section">
      <div class="card-body">
        <h1 class="card-title display-1 py-5">Cover Picture</h5>
      </div>
      <div class="card-footer text-muted bg-white py-0">
        <ul class='nav justify-content-end'>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Timeline</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>About</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Friends</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'>Photos</a></li>
          <li class='nav-item border-left'><a href='#' class='nav-link'><span class='px-2'><%= fa_icon "lock" %></span>Archive</a></li>
          <li class='nav-item border-left border-right mr-5'><a href='#' class='nav-link'>More</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-10 px-0 mt-3'>
    <div class='row no-gutters'>
      <div class='col-4 pr-2'></div>
      <div class='col-8 pl-2'>
        <%= form_with model: @new_post, class: '' do |f| %>
          <div class='card'>
            <div class='card-header py-0'>
              <ul class='nav'>
                <li class='nav-item'><a class='nav-link small-nav-link pl-0 pr-2' href='#'>Create post</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Photo/Video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Live video</a></li>
                <li class='nav-item'><a class='nav-link small-nav-link px-2' href='#'>Life Event</a></li>
              </ul>
            </div>
            <div class='card-body d-flex'>
              <img alt='' class="rounded-circle create-post-author-image border mr-3" src="<%= asset_path('anonymous.jpg')%>" />
              <%= f.text_area :text, size: "40x4", class: 'form-control border-0' %>
            </div>
            <div class='card-footer'>
              <%= f.submit "Post", class: 'btn btn-block btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
        <% if @posts.empty? %>
          <h1>You do not have any posts</h1>
        <% else %>
          <h1>You have posts</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>